{% extends 'mysite/base.html'%}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}" />
{% endblock %}
{% block content %}
    <main id="landing-main" class="artroom-main landing__main">
        <figure id="landing-logo-figure" class="logo-figure show-up-1-5-s">
            <img 
            
                src="{% static 'core/images/green-logo.webp'%}" 
                alt="Logo de l'application ArtRoom"
            />
        </figure>
    </main>
{% endblock %}
{% block js%}
    <script src="{% static 'core/js/landing.js'%}"></script>
{% endblock %}  